@import 'bootstrap';
@import 'bootstrap/theme';

html {
  height: 100%;
}

h1 {
  text-align: center;
  font-family: 'Skranji', cursive;
  color: #fafafa;
}

.container-fluid {
  padding: 0;
}

.navbar-default {
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-left: 20px;
}

.navbar-brand:hover {
  background-color: #d1ffd8;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background: linear-gradient(#3c9bd5, #87c6ec) no-repeat #87c6ec;
}

.nav-a {
  color: #000;
}

.nav-a:hover {
  background-color: #d1ffd8;
}

.navbar-collapse {
  width: 100%;
  border: 0;
}

.ember-text-field {
  margin: 0 auto;
  width: 25%;
}

li {
  list-style: none;
}
