@import 'bootstrap';
@import 'bootstrap/theme';

h1 {
  text-align: center;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
}

.nav-a:hover {
  background-color: #d1ffd8;
}

.navbar-brand:hover {
  font-size: 1.5em;
}

.ember-text-field {
  margin: 0 auto;
  width: 25%;
}

li {
  list-style: none;
}

// nav {
//   width: 100%;
//   background-color: red;
// }
//
// #navigation {
//   width: 100%;
//   background-color: red;
// }
